[2017-06-13 10:59] ballzy opened #1 "Evergreen logo needs replacing with NHS logo"

[2017-06-13 10:59] ballzy commented on #1
This is a site wide issue

[2017-06-13 15:47] ballzy opened #2 "Remove Newsfeed from menu"

[2017-06-13 15:48] ballzy opened #3 "Remove "Recent News" from the Medical record pages"

[2017-06-13 15:50] ballzy opened #4 "Add hover/selected arrow to Medical Record menu"

[2017-06-13 15:54] ballzy opened #5 "Generate NHS Favicon"
I think I will have to have a see what we have here already

[2017-06-13 15:56] ballzy commented on #5
![favicon](https://user-images.githubusercontent.com/4947363/27091821-32f74af8-5059-11e7-8284-4c5375152f99.png)

[2017-06-13 22:21] Seahermit commented on #1
Should be working now - not properly styled, but it's there

[2017-06-13 22:22] Seahermit commented on #4
This is back - was being lost in the rewrite rule, but is working now

[2017-06-14 00:14] Seahermit commented on #2
This is hidden on the server now

[2017-06-14 00:15] Seahermit commented on #5
Loads of favicons for the whole extended batch now exist - I'm not sure if you want all of them, but figured it's easier to add them all in one go and delete what you don't like!

[2017-06-14 00:16] Seahermit commented on #3
Gone...

[2017-06-14 14:43] ballzy commented on #5
I have cleared my cache but the Evergreen favicon is still appearing in my browser. None of the files in the huge favicon list link to anything either. Wondering if that is the issue

[2017-06-14 14:45] #1 closed

[2017-06-14 14:46] ballzy opened #6 "Login layout change"
The Login page layout should be the same as the Logout page where the width of the content is in line with the NHS logo

[2017-06-14 17:09] Saf456 opened #7 "Line up logout button"
Line up the logout button on all appropriate pages so that they are in-line with the table borders.

[2017-06-14 17:11] Saf456 opened #8 "Remove 'Home button'"

[2017-06-14 17:16] Saf456 opened #9 "Add EGL Logo to footer"
Agreed to add EGL logo to footer

[2017-06-14 17:16] Saf456 opened #10 "Turn off 'partners' & 'charter' in footer"

[2017-06-14 17:22] Saf456 opened #11 "Remove the additional services from drop down list in 'Contact us' page"
User can click 'contact us from within EGL. In the 'Contact us' page there is a drop down list which lists the different services a user can select to contact EGL. These services need to be reviewed as some can be removed e.g Messaging/ DNA

[2017-06-14 17:24] Saf456 opened #12 "Switch off links to all external websites but keep links to Choices"
any links to external websites/private to be switched off/removed

[2017-06-14 17:25] Saf456 opened #13 "Review icons/ pop-ups"
Welcome pop-up to be changed from green to blue - what other pop-ups exist?

[2017-06-14 17:28] Saf456 opened #14 "Change OSU account creation page to ask for practice level information so only those users at a pilot site can access it"
Technically how do we stop people who are not a part of the pilot from accessing this EGL NHS site?

Agreed to request practice level information when a user tries to create an OSU account.

[2017-06-15 09:34] ballzy opened #15 "Update Print Summary styles"

[2017-06-15 09:35] ballzy opened #16 "Add NHS logo to Print Summary"

[2017-06-15 09:36] ballzy opened #17 "Consultations page - sort by date positioning"

[2017-06-15 09:36] ballzy opened #18 "Alert message styling"

[2017-06-15 09:37] ballzy opened #19 "Style Contact Us page"

[2017-06-15 09:40] ballzy opened #20 "Style Appointments section"

[2017-06-15 09:40] ballzy opened #21 "Style Prescriptions"

[2017-06-16 14:17] ballzy opened #22 "Appointments page - repeating background image"
I can't seem to fix this. It's on the page where you select which appointment time you are attending. I also can't recreate it locally

[2017-06-16 14:28] Seahermit commented on #22
Where is this?  Any chance of a screen shot?

[2017-06-16 14:33] ballzy commented on #15
Ben, please can you add the following rules to your print.css

body {font-family: arial;}

th { background: #ebebeb; }
tr.sub-header td { background: #ebebeb; }
div.print-label-warning { background-color: #FFB81C; }

[2017-06-19 09:37] ballzy opened #23 "Change text on Connect to your GP page"
"In order to get the most out of Evergreen Life, you need to link to your GP practice. If you have already visited your GP, you may have a registration letter from them."

change this to:

"You need to link to your GP practice to get the most out of this service. If you have already visited your GP, you may have a registration letter from them."

[2017-06-19 09:45] ballzy commented on #22
![repeat-image](https://user-images.githubusercontent.com/4947363/27279418-798a9182-54dc-11e7-9a38-75ea6f736cfb.jpg)

[2017-06-19 10:19] ballzy opened #24 "Delete the Notifications that you get when you first sign up"

[2017-06-19 10:20] ballzy commented on #24
![notifs](https://user-images.githubusercontent.com/4947363/27280814-38ee319c-54e1-11e7-8b80-3d8c6b1c851a.jpg)

[2017-06-19 10:20] ballzy commented on #24
This is happening on all notifications that I've seen when you first create an account

[2017-06-19 10:57] ballzy commented on #13
I've covered most of these. If we spot any more then raise them as a separate issue

[2017-06-19 11:23] ballzy commented on #20
Going to consider this done. Anything else will be brought out as a separate issue

[2017-06-19 13:27] ballzy commented on #5
![favicon](https://user-images.githubusercontent.com/4947363/27287388-613c78d8-54fb-11e7-90ff-572a96a77dce.jpg)

[2017-06-19 13:27] ballzy commented on #5
Doesn't appear fixed to me

[2017-06-19 13:38] ballzy opened #25 "Remove the Footer text about Evergreen"

[2017-06-19 21:33] #11 closed

[2017-06-19 21:33] #4 closed

[2017-06-19 21:33] #2 closed

[2017-06-19 21:33] #3 closed

[2017-06-19 21:33] #10 closed

[2017-06-19 21:33] #8 closed

[2017-06-19 21:33] #13 closed

[2017-06-19 21:33] #17 closed

[2017-06-19 21:33] #19 closed

[2017-06-19 21:33] #20 closed

[2017-06-19 21:33] #21 closed

[2017-06-19 22:57] Seahermit commented on #5
Think there was a problem with the upload, it's fixed in the source!

[2017-06-20 08:53] dogtanian28 commented on #12
patient information leaflets still seem to be from Patient.co.uk when you click on the i icon for problems on the record pages. are these going to be removed or hidden?

[2017-06-20 11:19] dogtanian28 opened #26 "Pop up linking to EGL app on mobile login screen"
When loading the login screen for our version of EGL a pop up appears stating that an app exists. The app is out of scope for this project so can this be removed ? ![](http://i.imgur.com/6u49oOQ.jpg)

[2017-06-20 11:48] ballzy commented on #15
Over to you Ben

[2017-06-20 11:51] ballzy opened #27 "Text change on MY GP page"
When connecting your GP with Linkage keys etc
Change text
"A few further details are needed by your practice to allow the secure connection to your GP record. Evergreen Life does not record or store any of these details apart from your Surname and the identification of your practice (TEST01)."

to say

"A few further details are needed by your practice to allow the secure connection to your GP rec

[2017-06-20 13:57] Saf456 opened #28 "Print link - consider changing this to download"
As our commitment is access and download, do we need the print link to say download

[2017-06-20 14:25] #24 closed

[2017-06-20 14:26] #25 closed

[2017-06-20 14:26] #16 closed

[2017-06-20 15:02] Saf456 opened #29 "Feasibility of having an exit survey - whats impact?"
Where can an exit survey sit ? On EGL after logout screen or do we direct back to NHS.UK

[2017-06-20 16:19] Saf456 opened #30 "Name of product to be changed - GP Online Services"
Following discussions with SRO, the name of the product EGL needs to be changed on all pages where this is seen (mostly help pages and information pages)

[2017-06-20 18:09] Seahermit commented on #29
I would suggest directing back to NHS.uk if possible - I can add in a pop-up or something to do this, but it would be difficult to change after launch due to the change control process...

[2017-06-20 22:30] Saf456 commented on #29
@gordonss could you map this out with Tero?

[2017-06-21 10:11] ballzy opened #31 "Text Change on MY GP"
When you have connected to your GP there are 2 references to Evergreen Life
change text
"Your Evergreen Life account is currently linked to the following GP Practice:"
to say
"Your account is currently linked to the following GP Practice:"

[2017-06-21 12:24] ballzy opened #32 "Help page - remove references to Evergreen Life"

[2017-06-21 12:24] ballzy opened #33 "Help page - Remove section "Evergreen App""

[2017-06-21 12:26] ballzy opened #34 "Appointments page - CSS issues when you have selected an appointment"

[2017-06-21 13:40] ballzy commented on #26
Stewart, can you test this please?

[2017-06-21 13:45] dogtanian28 commented on #26
Confirm no longer pop up. Can be closed

[2017-06-21 13:54] #5 closed

[2017-06-21 13:54] #7 closed

[2017-06-21 13:54] #26 closed

[2017-06-21 13:54] #27 closed

[2017-06-21 13:55] ballzy commented on #9
Is it possible to make the logo about 50% of the size that it is now? ta

[2017-06-21 14:08] Seahermit commented on #9
That will need to be discussed with management I think!

[2017-06-21 15:05] Saf456 opened #35 "Design forgotten password pages (4)"

[2017-06-21 15:08] ballzy commented on #22
thanks

[2017-06-21 15:11] #22 closed

[2017-06-21 15:11] #9 closed

[2017-06-22 08:46] ballzy commented on #12
@Seahermit @dogtanian28 I don't think that this is fixed yet

[2017-06-22 08:51] ballzy commented on #28
@saf456 I personally don't think that this is neccessary. The 'Print' feature is to let you print the summary after all.
You can Export the XML which is more like "Download" however is isn't really download.
@dogtanian28 I suggest that you have the final say on this

[2017-06-22 08:52] ballzy commented on #30
@dogtanian28 do we have a name yet?

[2017-06-22 08:56] ballzy commented on #14
@Saf456 @dogtanian28 how do we test this?

[2017-06-22 09:08] Seahermit commented on #14
On creating a new account you need to put in a practice ID, which you can currently use TESt01 or A12345

[2017-06-22 09:12] ballzy commented on #35
One this I have notice. Would it be possible @Seahermit to have the re-type password field and label on the next line. This appears on page 4 of the Forgotten Password route - ta

[2017-06-22 09:32] dogtanian28 commented on #28
Can we call it print/Download

[2017-06-22 12:55] ballzy commented on #34
div.appointments div.appointment.selected .detail h4 { background-image: none; }
div.appointments div.appointment.selected .detail div.date { background-image: none; padding-left: 0;}
div.appointments div.appointment.selected .detail .location { background-image: none; }
div.appointments div.appointment.selected .telephone h4 { background-image: none; }
div.appointments div.appointment.selected .r

[2017-06-22 14:14] ballzy opened #36 "Review content on login page"

[2017-06-23 16:16] gordonss opened #37 "No HTML <TITLE> on pages"
Good practice to have a HTML.HEAD.TITLE on every page. It's used as bookmark suggestion by most browsers too

[2017-06-24 12:02] Seahermit commented on #37
Weird, seems empty on some pages.  Will fix.

[2017-06-25 21:17] Seahermit commented on #35
I'm not sure I understand this - they're labels & divs, you should be able to just stick 'em wherever you want, or have I missed something?

[2017-06-26 08:27] dogtanian28 commented on #30
i think that we should be factual rather than catchy. so i would be happy with something like "GP Online Services"

[2017-06-26 08:41] dogtanian28 opened #38 "log out warning message with countdown to large for mobile screen."
log out message with countdown popped up, but i could not click to stay in as message was too big for mobile screen

[2017-06-26 08:41] dogtanian28 commented on #38
![](http://i.imgur.com/KVDnPMV.jpg)

[2017-06-26 09:05] dogtanian28 commented on #14
done

[2017-06-26 09:35] dogtanian28 opened #39 "My prescriptions, Settings and Help buttons not working on mobile"
i am not sure if this is because this is wip but on both android and IOS browsers, the "my prescriptions, Settings and Help" buttons are not actually buttons and do not allow a user to do anything.

[2017-06-26 09:35] dogtanian28 commented on #39
![](http://i.imgur.com/nCa7yap.jpg)

[2017-06-27 00:25] #14 closed

[2017-06-27 08:52] ballzy commented on #30
Ben, are you able to easily replace Evergreen Life with "GP Online Services" wherever it appears on the website?

[2017-06-27 08:52] Seahermit commented on #30
Yep, I'm about halfway through, will have that completed today I think

[2017-06-27 08:55] ballzy commented on #15
Any comment on this @Seahermit ?
I was just wondering why it hasn't moved for a while - ta

[2017-06-27 08:56] Seahermit commented on #15
Oops! Sorry, missed the css you inserted, will be in the update today.

Sorry!

[2017-06-27 08:59] ballzy commented on #28
@Seahermit Is it possible to Change the "Print" link to read "Print/download"?
If so then please change it - thanks

[2017-06-27 09:52] ballzy commented on #34
The CSS is in there but there are more issues with this page.
So I will add a comment in below this comment with more CSS in it to try and fix the page.

[2017-06-27 11:57] ballzy commented on #34
div.appointments div.appointment.selected .detail div.date { padding-left: 10px; }
div.appointments div.appointment.selected .detail .location { padding-left: 10px; }
div.appointments div.appointment.selected .detail .session { padding-left: 10px; }
div.appointments div.appointment.selected div.vertical-line { border-right: 0; }
div.appointments div.appointment span.gp, div.appointments div.appoin

[2017-06-27 12:49] ballzy commented on #39
@Seahermit this will be solves by the new hamburger mobile menu that we discussed a moment ago - ta

[2017-06-27 13:00] #18 closed

[2017-06-27 13:00] #6 closed

[2017-06-27 13:33] dogtanian28 commented on #36
session held today on wording for login page. some in house user testing to be done to confirm if wording is good enough

[2017-06-27 13:44] ballzy commented on #30
Just noticed the Password reset pages need the name changing on them @Seahermit - ta

[2017-06-27 13:48] dogtanian28 commented on #32
i am getting an intermittent issue whereby sometimes i still see the egl app part of the help page
see word file for screenshots
[help pg issue.docx](https://github.com/AscentMS/NHSD/files/1105457/help.pg.issue.docx)

[2017-06-27 13:56] ballzy commented on #35
Please add the following CSS to the stylesheet.

div#TablePassword.account { width: 70%; }

[2017-06-27 14:04] dogtanian28 commented on #33
i am getting an intermittent issue whereby sometimes i still see the egl app part of the help page
see word file for screenshots
[help pg issue.docx](https://github.com/AscentMS/NHSD/files/1105457/help.pg.issue.docx)

[2017-06-27 14:05] dogtanian28 commented on #32
moved comment to #33

this one is reviewed and closed

[2017-06-27 15:09] dogtanian28 opened #40 "green text on appointment booking"
when filtering appointments on doctor or location, this text is still in green

![green appts text](https://user-images.githubusercontent.com/29567457/27594846-d923de38-5b52-11e7-8a64-06a94f559152.PNG)

[2017-06-27 15:11] dogtanian28 commented on #34
chiris, is the following issue with a green button already part of the above work ?
![book appointment button](https://user-images.githubusercontent.com/29567457/27594988-48572a08-5b53-11e7-8455-2302b5355644.PNG)

[2017-06-27 15:16] dogtanian28 opened #41 "EGL logo too large on mobile so covers other links"
when on mobile the new EGL logo is too large and interacts with other items in the bottom blue bar. could this logo be reduced in size. it is also a lot larger than NHS logo on site so looks out of place on NHS site.

[2017-06-27 15:16] dogtanian28 commented on #41
![](http://i.imgur.com/WYwJYtr.jpg)

[2017-06-28 00:45] #32 closed

[2017-06-28 07:21] dogtanian28 commented on #41
Ben, still having issue on an iphone 5s using chrome test this morning after your changes, it seems the logo ins't responsive on that.
![img_3188](https://user-images.githubusercontent.com/29567457/27624939-b4063cd0-5bda-11e7-85aa-06e969abebdf.PNG)

i think we need a call with rob/lachlan on logos as we can;t have the changes made at the top. i will send an email invite out for this week.

[2017-06-28 08:20] Seahermit commented on #41
Well that's annoying!  But for the changes at the top - yes, people need to talk about that.  It was a bit late when I did that, so didn't manage to send the message that this was a starting point for discussion.  So discussion to happen :)

[2017-06-28 10:14] ballzy commented on #15
Sorry, that yellow looks awful.

div.print-label-warning { background-color: #005EB8; }
img { margin: 20px 0px 15px 0px; }

[2017-06-28 10:16] ballzy commented on #28
That's great Ben. For some reason the link has turned green in the process though

[2017-06-28 10:17] ballzy commented on #37
Not sure where to check this @gordonss could you have a look?

[2017-06-28 10:18] ballzy commented on #34
No it's not. I'll have a look

[2017-06-28 10:24] ballzy commented on #34
div.appointments div.appointment.selected button.app-book { background-color: #005EB8; }

should fix it

[2017-06-28 11:02] evergreen-lee-campbell opened #42 "Auth Server "NHS User" flag/email context"
The Auth Server needs to send NHS-branded emails, and needs knowledge of whether a user was created in the context of the NHS-branded website (rather than Evergreen Life).

This will require an additional set of email templates, and the ability to send email via a different SMTP service.

[2017-06-28 12:54] ballzy commented on #35
I can't test this as the Forgotten Password flow isn't sending out Security Codes

[2017-06-28 14:30] #35 closed

[2017-06-28 14:42] #31 closed

[2017-06-29 08:46] ballzy commented on #30
I am going to assume that this is complete. Any other instances should be picked up by our review

[2017-06-29 08:46] #30 closed

[2017-06-29 08:48] #33 closed

[2017-06-29 10:10] ballzy commented on #40
@Seahermit please add:
div.appointments #Filters .filter-add { color: #005EB8; }

[2017-06-29 12:51] gordonss commented on #37
I've clicked-through and it looks like this is now resolved

[2017-06-29 12:53] gordonss opened #43 "My Appointments page has colliding text on Firefox/chrome"
The appointments text is jumbled on Firefox
I have Firefox 45.4.0
![myapptsbug](https://user-images.githubusercontent.com/9844165/27688391-5b2c740a-5cd2-11e7-8ef6-ebfc6983b9cb.png)

[2017-06-29 13:14] dogtanian28 commented on #37
help page still references EGL

[2017-06-29 13:37] ballzy commented on #43
@Seahermit for some reason the following style isn't being picked up in Chrome/Firefox. but it works in Safari. Any ideas. It is on the view Appointments page

div.appointments div.appointment:not(.selected) span:not(.error):not(#Appointments .empty), div.appointments div.appointment:not(.selected) td {padding: 0.5em 0em 0.5em 2em; }

[2017-06-29 13:41] Seahermit commented on #43
Weird Safari works but not Chrome!  Firefox I can understand...

I'll have a look

[2017-06-30 00:00] Seahermit commented on #12
Is now!

[2017-06-30 09:46] dogtanian28 commented on #37
reviewed help page and now does not reference EGL so as PO i close this issue

[2017-06-30 09:52] dogtanian28 commented on #41
reviewed on chrome on android and Safari on IOS, although logo seems slightly different on each. it no longer interferes with the text so as PO i am closing this issue

[2017-06-30 09:54] dogtanian28 commented on #40
confirmed as changed, As PO i close this issue.

[2017-06-30 10:00] dogtanian28 commented on #34
reviewed on Chrome, Edge and IE11 - although IE doesnt seem to show logos as big, all issues seem to have been fixed so as PO i close the issue

[2017-06-30 10:09] dogtanian28 commented on #43
have reviewed on Chrome/IE/EDGE and as PO i am ok to close issue

[2017-06-30 10:30] dogtanian28 commented on #39
![](http://i.imgur.com/uxcAHk2.jpg)

[2017-06-30 10:32] dogtanian28 commented on #39
This is how it now looks on chrome on android/chrome and iOS/safari

[2017-06-30 10:32] Seahermit commented on #39
Yeah... still working on it :(. But at least the Security message fits on the screen now!

[2017-06-30 10:35] dogtanian28 commented on #39
ben thanks, understand its WIP. just doing a review of each current github thats all and closing quite a few.

[2017-06-30 10:53] dogtanian28 commented on #38
![](http://i.imgur.com/rEOAcgQ.jpg) Proves issue fixed on iOS . Trying now to test on chrome

[2017-06-30 11:03] dogtanian28 commented on #28
confirmed text change, so as PO am ok to close issue

[2017-06-30 11:07] dogtanian28 commented on #15
reviewed with Chris that this change is as asked. So as PO i am closing issue down

[2017-07-03 07:40] dogtanian28 opened #44 "Changes to Help pages content."
## **_Understanding GP Online Services section_**
•	What is GP Online Services – **Remove** ‘You can arrange your page as you like. You can also add gadgets to your page that help you keep up to date with the health issues that interest you. That can be something like Asthma UK if that were relevant to you; or NHS Choices with its huge store of information; or Patient Opinion where you can comment

[2017-07-03 08:38] dogtanian28 opened #45 "Login Page content"
please could the following text be added to the Login screen.

## GP Online Services

Thank you for agreeing to take part in the pilot scheme for the NHS GP Online website. Here you can:

•	view and download your GP record
•	book appointments with your GP
•	order repeat prescriptions
•	check your test results

Please note if you do not have access to any of the above services you will need to cont

[2017-07-03 09:49] dogtanian28 opened #46 "https://nhs.e-life.co.uk/Signup page content change"
**GP Practice (ODS Code) box,**
could some text be added to state "this can be found on GP letter" as this is a new box for our pilot?

**Password** note rather than change. some users found it hard to get the password right, not sure if there is anything you can do.

[2017-07-03 09:52] dogtanian28 opened #47 "My GP Page Content change"
please could you change "Remove Access from ALL services to your GP system" to "Remove access from ALL providers you use to connect to your GP system "

[2017-07-03 09:54] dogtanian28 opened #48 "History page timestamp issue"
as discussed the timestamp is currently showing UTC rather than BST, therefore could you please state next to the time that it is UTC

[2017-07-03 21:19] Seahermit commented on #39
Is working now, and is awesome.

[2017-07-03 22:31] #15 closed

[2017-07-03 22:32] #28 closed

[2017-07-03 22:32] #34 closed

[2017-07-03 22:32] #37 closed

[2017-07-03 22:32] #38 closed

[2017-07-03 22:32] #40 closed

[2017-07-03 22:32] #41 closed

[2017-07-03 22:32] #43 closed

[2017-07-04 08:37] dogtanian28 commented on #39
Ben, looks a lot better on mobile thanks,

Couple of comments, main one being, hamburger menu has a top level name of My Record when it should probably just say something like Menu. is this possible?

other comments are that on a browser, when resizing down, sometimes things go a bit iffy, i dont think this is an issue for  our pilot as it works on a full browser and also on mobile, but could have

[2017-07-04 08:58] Seahermit commented on #39
Ah, I got a bit too clever it seems - it should change to whatever you are looking at. I can change it to just "Menu"

The resizing thing I know about, but haven't worked out - seems a combination of the css and JavaScript resizing not firing completely properly

[2017-07-04 14:48] dogtanian28 commented on #48
confirmed as fixed, as PO this issue is now closed

[2017-07-04 14:51] dogtanian28 commented on #47
confirmed as changed. As PO I have closed the issue

[2017-07-04 15:00] dogtanian28 commented on #46
confirmed as changed. as PO i am closing this issue

[2017-07-04 15:15] dogtanian28 commented on #45
confirmed as changed. As PO i closed this issue

[2017-07-04 15:21] dogtanian28 commented on #12
from conditions and drugs on test patient this looks like it is closed, but we cannot test for all condtions so assume EGL have done this. on that note this issue is closed by PO

[2017-07-04 15:21] Saf456 opened #49 "HIGH PRIORITY: New prescription ordered but doesn't appear on the list of prescriptions"
On the Prescriptions page I ordered 'Aspirin' successfully but this did not appear on the list of prescriptions

[2017-07-04 15:31] Saf456 opened #50 "HIGH PRIORITY: EGL Logo to open new tab"
Clicking on the EGL logo should open a new tab to take users to their site

[2017-07-04 15:32] Saf456 opened #51 "HIGH PRIORITY: NHS Logo - new tab should not open"
Remove link to NHS logo **OR** keep link but don't open a new tab.
Stewart to confirm

[2017-07-04 15:36] Saf456 opened #52 "Drag icon appearing on few pages - remove"
Remove drag icon from :

Settings
appointments
prescriptions

all appear on page title

[2017-07-04 15:38] Saf456 opened #53 "change font on logout screen"
'logout successful' page font is different

[2017-07-04 15:40] Saf456 opened #54 "HIGH PRIORITY: 'ctrl S' - check works on all devices"
to satisfy the "download" part of the commitment we need to check that using 'control & S' allows user to save the file for future use on their device. this will also need content change to explain to user how to download

[2017-07-04 15:42] Saf456 opened #55 "'My GP' screen - font change"
when clicking 'more info'  on 'My GP' change font to Ariel blue

[2017-07-04 15:43] Saf456 opened #56 "Edit 'GP address' page - font colour weight"
standardize screen/page for editing address

[2017-07-04 15:45] Saf456 opened #57 "LOW PRIORITY: Green border list to be changed"
Green border on:
MY GP - change address
MY ACCOUNT - my name pop-up has a green border
MY ACCOUNT - security questions
HISTORY PAGE - Green border

[2017-07-04 15:51] Saf456 opened #58 "HIGH PRIORITY: Settings menu is bouncy"
This is an odd one! During review today we were trying to access the list of options under 'Settings' but the menu kept bouncing. We were using chrome - could be a version issue not sure but needs looking at as it prevents user from choosing an option

[2017-07-04 16:00] Saf456 opened #59 "setting sub nav is wrong font"

[2017-07-04 16:01] Saf456 opened #60 "Sub nav on 'My Medical record' is wrong font"

[2017-07-04 16:14] Saf456 opened #61 "HIGH PRIORITY: Email address verification from EGL"
Likely content changes needed in this email. This will be reviewed tomorrow.

[2017-07-04 16:20] Saf456 commented on #51
@dogtanian28 please confirm which option is needed and then assign to Ben

[2017-07-04 18:19] Seahermit commented on #49
This is a bit dependant on which clinical system you are connected to.  Emis Web this works fine for everything we've tested, TPP makes the order disappear and only shows in your medical record.

If you're linked to the internal test site (Site TEST01) then it probably won't turn up as it's not actually ordering it internally.

So... Is this linked against a real Emis Web site (or the test site)?

[2017-07-04 20:52] Seahermit commented on #60
Done when fixing #55

[2017-07-04 20:52] Seahermit commented on #59
Done as part of #55

[2017-07-04 20:54] Seahermit commented on #56
I'm not sure what was wanted, but I've updated an underlying setting which should set anything that was green before to the NHS blue, and default font is now Arial - so this may be fixed (or may not!)

[2017-07-04 20:55] Seahermit commented on #57
All done as part of #55

[2017-07-04 20:55] Seahermit commented on #53
Done as part of #55

[2017-07-04 21:04] Seahermit commented on #58
I've been trying to work this one out for quite a while now - it's bouncing as you've hovered over the link, so it starts to open, but then you've left, so it then wants to close, but then you've gone over the link again - do that a few times, and it looks like it's bouncing, when in reality it's just trying to catch up!  Going to try and fiddle with some JQuery stop and clearQueue commands.

[2017-07-05 08:56] dogtanian28 commented on #51
i think looking at NHS.uk that it should be a link but opening on same screen rather a new tab

[2017-07-05 10:25] #12 closed

[2017-07-05 10:25] #45 closed

[2017-07-05 10:25] #36 closed

[2017-07-05 10:25] #46 closed

[2017-07-05 10:25] #47 closed

[2017-07-05 10:25] #48 closed

[2017-07-05 19:22] dogtanian28 commented on #39
I think for most sizes of devices this should be ok for now.

[2017-07-06 08:08] dogtanian28 commented on #44
confirmed as changed, so CLosed by PO

[2017-07-06 08:10] dogtanian28 commented on #60
confirmed as closed. AS PO i close the issue

[2017-07-06 08:11] dogtanian28 commented on #59
AS PO i confirm the issue is closed

[2017-07-06 08:12] dogtanian28 commented on #56
AS PO i confirm the issue is closed

[2017-07-06 08:12] dogtanian28 commented on #55
AS PO i confirm the issue is closed

[2017-07-06 08:12] dogtanian28 commented on #53
AS PO i confirm the issue is closed

[2017-07-06 08:14] dogtanian28 commented on #57
AS PO i confirm the issue is closed

[2017-07-06 08:16] dogtanian28 commented on #50
AS PO i confirm the issue is closed

[2017-07-06 08:17] dogtanian28 commented on #52
AS PO i confirm the issue is closed

[2017-07-06 08:20] dogtanian28 commented on #29
not going down this route, so this issue can be closed

[2017-07-06 09:43] #44 closed

[2017-07-06 09:43] #60 closed

[2017-07-06 09:43] #59 closed

[2017-07-06 09:43] #55 closed

[2017-07-06 09:43] #29 closed

[2017-07-06 09:43] #50 closed

[2017-07-06 09:43] #52 closed

[2017-07-06 09:43] #53 closed

[2017-07-06 09:43] #56 closed

[2017-07-06 09:43] #57 closed

[2017-07-06 15:08] dogtanian28 opened #62 "egl products appearing on contact us page drop down"
![image](https://user-images.githubusercontent.com/29567457/27917964-747e8e82-6265-11e7-9e86-c63841633ab2.png)

the above image shows that the "i am using" drop down seems to be appearing sporadically. has been seen on a number of machines.

also on this page the text in the browser tab is still saying  Evergreen life.

[2017-07-06 19:24] gordonss opened #63 "Password reset email refers to Evergreen Life PHR"
Password-reset email has this content, which has three issues:
- Email title is 'Your Evergreen Life Temporary Password'
- Main email text includes 'Evergreen Life Personal Health Record in intro
- Link to help is https://e-life.co.uk/Contact hence sends user to main EGL help content
The text is below for info
Hello,
You've asked us to reset your password for your Evergreen Life Personal Health Re

[2017-07-06 19:26] gordonss opened #64 "Password reset screen has some misaligned text fields"
Password reset screen has some misaligned text fields, see attached screenshot
![pwdresetissue](https://user-images.githubusercontent.com/9844165/27929063-660adc60-6289-11e7-8208-9284a629344d.png)

[2017-07-06 20:15] gordonss opened #65 "Forgotten password screen allows empty email address form submit"
From login, choose 'Forgotten your login details?'
On Password Reset screen (Step 1 of 4), accept the Captcha
Then without entering an email address, choose the submit (Reset Password) button
The form submits and a blank web page is returned

[2017-07-06 20:17] gordonss opened #66 "'Forgotten login details' page does not have a <TITLE>"
https://nhs.e-life.co.uk/Forgotten does not have a HTML.HEAD.TITLE

[2017-07-06 20:19] gordonss opened #67 "Forgotten login details mouseover has old EGL content"
Forgotten login detaills page - https://nhs.e-life.co.uk/Forgotten
Mouseover for Create Account still says 'Create Evergreen Life account'

Same issue on the help - https://nhs.e-life.co.uk/Help

Also on Contact - https://nhs.e-life.co.uk/Contact

[2017-07-06 20:24] gordonss opened #68 "Contact us page allows many fields to be blank"
On the contact page - https://nhs.e-life.co.uk/Contact
Choose values for 'I would like to' and 'This is in relation to', but leave the rest blank
submit the form

The submit is made and the resulting page does not correctly render
By contrast, leave all fields blank (including first two dropdowns) and submit. The page is rendered with missing fields highlighted

[2017-07-06 20:29] gordonss opened #69 "Contact page message field has no maximum length"
On Contact page - https://nhs.e-life.co.uk/Contact
The message TextField does not seem to have a MAXLENGTH on the client side, which used to be best practice - maybe things have moved on since then!

[2017-07-06 20:31] gordonss opened #70 "No navigation out of signup page"
Signup page - https://nhs.e-life.co.uk/Signup
This has no 'cancel' or 'take me back' option. Only the form submit.
Actually, there is a 'Login' item at the bottom. Hmm, maybe just semantics, but I do like a good old-fashioned 'cancel' button ;)

[2017-07-06 20:34] gordonss opened #71 "Login page says 'New User' button, but page says 'Create Account'"
From login - https://nhs.e-life.co.uk/Login
Choose 'New User'. But the screen I end up at is titled 'Create Account', which jars a little

[2017-07-06 20:35] gordonss opened #72 "Signup page font issue on header?"
Signup page - https://nhs.e-life.co.uk/Signup
The 'Create Account' text at top uses different font from other pages - maybe just different size?

[2017-07-06 20:37] gordonss opened #73 "Signup page says 'surname'"
signup page - https://nhs.e-life.co.uk/Signup

Picky, but I thought we try to use the term 'family name' instead of surname. In some cultures, surname is the chosen name, hence the term is not clear

[2017-07-06 20:38] gordonss opened #74 "Signup page styling"
Maybe it's just me, but the signup page seems to lack some elements of visual styling - in another issue I mention the font for the title, but I think there is a bit more? Certainly the 'Need Help' link at top-right does not look styled correctly

[2017-07-06 20:43] gordonss opened #75 "Signup page password help text inconsistent - low priority"
On signup page
On password field, just enter one character
The mouseover text for the problem on the password textfield says 'lowercase character' and 'uppercase character'. The normal text on the page says 'lowercase letter' and 'uppercase letter'

[2017-07-07 09:13] ballzy commented on #74
This page is ok. Styled fine. The main difference is that it doesn't have the top blue bar. We are only working with the tools that we are faced with.

The Need Help link could be a touch smaller maybe. 16px instead of 19px. But it is a generic style associated to all a tags inside an H1. Maybe we could do:

.signup h1 a { font-size: 16px; }

@Seahermit could you try dropping in this css - thanks

[2017-07-07 09:25] ballzy commented on #73
Is this a quick change @Seahermit ?

Could you change "surname" to "Family name" on the create account page

[2017-07-07 09:27] ballzy commented on #72
no issue

[2017-07-07 09:29] ballzy commented on #71
I think it's ok. @dogtanian28 ?

[2017-07-07 09:30] ballzy commented on #70
I dunno. I'm assuming that it's n EGL decision to try to increase uptake

[2017-07-07 09:31] ballzy commented on #69
@Seahermit can you elaborate?

[2017-07-07 09:34] ballzy commented on #67
@Seahermit can you change the ALT text on the Create Account button on these pages to read "Create an account" please?

[2017-07-07 09:35] ballzy opened #76 "Create an account page title"
the TITLE needs to change on the Create Account page. Remove "Evergreen Life"

[2017-07-07 09:37] ballzy commented on #65
@Seahermit I'm assuming that this is an issue on your original EGL system as well? Can you put some mandatory validation on this please?

[2017-07-07 09:39] ballzy commented on #64
I don't get that issue. Which browser? @gordonss

[2017-07-07 09:44] ballzy opened #77 "Lots of Evergreen references here. I think it has been overlooked"
![egl](https://user-images.githubusercontent.com/4947363/27952731-2f7812f8-6301-11e7-945b-9ed56f1f74b1.jpg)

[2017-07-07 09:45] ballzy commented on #63
![egl](https://user-images.githubusercontent.com/4947363/27952778-6a60c81a-6301-11e7-8d40-b418a310caa2.jpg)

[2017-07-07 09:46] ballzy commented on #77
duplicate

[2017-07-07 09:46] #77 closed

[2017-07-07 09:47] ballzy commented on #75
I think that this should read "character"
Can you change please @Seahermit

[2017-07-07 09:49] ballzy commented on #68
Interesting. I'm assuming Evergreen has the same issue.
The validation on al but the first 2 fields is only cosmetic. Is this possible to fix @Seahermit ?

[2017-07-07 09:58] gordonss commented on #64
I am using Firefox, 45.4.0

[2017-07-07 11:04] ballzy commented on #64
I've just downloaded Firefox and I can't recreate this issue. Best speak when we're both in the office next @gordonss

[2017-07-07 11:04] ballzy commented on #64
I might be able to fix it on your computer and work out what the problem could be

[2017-07-07 13:06] gordonss commented on #64
OK yep. Monday then?

[2017-07-09 19:01] Seahermit commented on #51
The NHS Logo now links to https://www.nhs.uk in the same page - is that the correct URL? Very easy to change if not

[2017-07-09 19:42] Seahermit commented on #68
Oops, my bad - nest boolean logic!  Was only validating those last boxes when in EGL mode :(

Fixed now...

[2017-07-09 19:52] Seahermit commented on #69
Er, we didn't feel it really needed one - it can be lots, as it goes into an email which then goes into Freshdesk, so didn't bother adding this.  I think it's about 4MB from memory, so lots...  If it's felt to be important, I can add it in!

[2017-07-09 19:57] Seahermit commented on #74
Done

[2017-07-09 20:33] Seahermit commented on #65
Yep - I'm now typing a snarky message who broke that bit by commenting out the perfectly functioning validity check!  Validity check uncommented, our internal testing also notified, as that seems to have slipped through the cracks!

Good spot!

[2017-07-09 20:35] Seahermit commented on #70
Weren't me.  Was a design decision, so @ballzy you are likely correct

[2017-07-09 21:44] ballzy commented on #70
OK - maybe it was me. However, I don't see much of an issue here. We're dealing with 100 MAX users and we'll be lucky to get that many so making it slightly more difficult to leave the sign up transaction is to our advantage.\
@dogtanian28 your call

[2017-07-09 21:46] ballzy commented on #65
Hehe - what does the snarky message say? ;)

[2017-07-10 09:32] Saf456 commented on #61
[Email Address Verification.pdf](https://github.com/AscentMS/NHSD/files/1135011/Email.Address.Verification.pdf)

Email template - Ben will this format work for all the other emails sent out by EGL?

[2017-07-10 10:27] Saf456 commented on #49
@gordonss  one for Andrew to test please - he's not in github yet

[2017-07-10 10:30] Saf456 commented on #51
I am happy that this works. To close tomorrow following session with Stewart

[2017-07-10 10:40] #76 closed

[2017-07-10 10:41] #75 closed

[2017-07-10 10:42] #74 closed

[2017-07-10 10:48] ballzy commented on #73
Thank ben

[2017-07-10 10:48] #73 closed

[2017-07-10 10:48] #72 closed

[2017-07-10 10:50] ballzy commented on #69
It's not an issue so long as it is not abused by a BOT to crash the system - Is that a possibility? @gordonss @Seahermit

[2017-07-10 10:55] #68 closed

[2017-07-10 10:57] #67 closed

[2017-07-10 10:57] #66 closed

[2017-07-10 10:58] Saf456 commented on #71
its not a show stopper but having looked at other websites it should say 'Create account for a new user' or equivalent? I will let Stewart make the call on whether this is needed @dogtanian28

[2017-07-10 10:58] #65 closed

[2017-07-10 11:03] Saf456 opened #78 "Mobile View - Captcha moved off screen"
![img_0043](https://user-images.githubusercontent.com/29437292/28015404-b63f81dc-6567-11e7-9317-4d5945aa859e.PNG)

[2017-07-10 11:12] ballzy commented on #64
@Seahermit could you overwrite a previous css style I sent your way with:
div#TablePassword.account { width: 67% }

[2017-07-10 11:13] ballzy commented on #63
@Saf456 have you sent over the new content to Ben?

[2017-07-10 11:15] ballzy commented on #62
@dogtanian28 are you happy to close this issue?

[2017-07-10 11:19] Seahermit commented on #69
It won't crash, it'll just return you to an error page, and that field won't do anything to stop a bot posting directly. I guess they could try and ddos us, but the AWS bits would kick in for that, and setting that size limit wouldn't help in that regard!

It's more from a users point of view - anyone nefarious would just ignore it anyway, and there's only so much anyone will realistically type.

[2017-07-10 11:21] Seahermit commented on #64
Yep, will do

[2017-07-10 11:21] ballzy commented on #51
@gordonss why did you reopen it? It works as requested doesn't it?

[2017-07-10 11:35] ballzy commented on #51
considered done

[2017-07-10 11:35] #51 closed

[2017-07-11 07:42] dogtanian28 commented on #71
i think this is fine, as text on the login screen, states "If this is your first time, click NEW USER to create an account." so connects the two.

[2017-07-11 07:46] dogtanian28 commented on #62
checked in IE, Edge and Chome and now looks ok, so closing as PO

[2017-07-11 07:52] dogtanian28 commented on #70
happy that the browsers native functionality would be able to deal with this, so will close

[2017-07-11 08:36] #70 closed

[2017-07-11 08:55] Saf456 opened #79 "Add content for Home page survey"
Awaiting link for survey

[2017-07-11 09:07] #71 closed

[2017-07-11 09:09] Saf456 commented on #69
PO happy to leave as is

[2017-07-11 09:09] #69 closed

[2017-07-11 09:13] Saf456 commented on #39
now showing just menu. PO checked and can close

[2017-07-11 09:13] #39 closed

[2017-07-11 09:14] Saf456 commented on #49
Andrew to test with real test site @gordonss

[2017-07-11 09:17] #62 closed

[2017-07-11 09:19] Saf456 commented on #63
@ballzy see issue on verification email - can use similar content?

[2017-07-11 09:23] Saf456 commented on #63
@Seahermit  please change EGL references to GP Online Services and replace with the new URL (once we have it)

[2017-07-11 12:46] andrewleponis opened #80 "Created appointments are disappearing from the Patients [My Appointments] page."
Created appointments are disappearing from the Patients [My Appointments] page.  When the patient tries to rebook the appointment the previously selected slot is now marked as busy and the patient can't reselect it

[2017-07-11 12:59] Seahermit commented on #80
If this is with a user linked against the Test01 Practice, this is essentially an artefact of the test service I wrote, as it's not foolproof...

The Currently Booked appointments and Available Appointments are both governed by the Clinical Server, and we don't filter or block any of them in any way - we haven't found an issue with this in the live environment, nor with any of our internal testing

[2017-07-11 14:35] andrewleponis opened #81 "Sort by Date on Consultation page is inversed"
As per the image attached, the Order by descriptions (or actual order by) are the wrong way round on Consultation Page.

Consultations are ordered by Date Descending by default.
![ordering issue](https://user-images.githubusercontent.com/29251985/28073715-847d2194-664e-11e7-8cfb-1a3ccb1b6d34.png)

[2017-07-12 12:41] gordonss opened #82 "EGL Logo looks broken on IE 11"
IE 11.0.9600 - the Evergreen logo at the bottom as some issue with the white box, see attached
![logoissue](https://user-images.githubusercontent.com/9844165/28118160-f5b54e4a-6707-11e7-92ca-53ae082650d8.png)

[2017-07-12 13:15] Seahermit commented on #82
Yay.  IE.  Fixed in next version...

[2017-07-12 15:08] Seahermit commented on #61
Yes, that template is fine, the signup email is done, Forgotten is in progress

[2017-07-13 07:03] dogtanian28 commented on #80
ben thanks for the updated. this is what i thought it could be.

maybe we can gvie andrew access to the test gp as mentioned last week to confirm

[2017-07-13 07:06] dogtanian28 commented on #81
Ben,

this looks correct now for descending, i notice though that the icon does not change when you hover over, so they do not look clickable, although they actually are

[2017-07-13 07:20] dogtanian28 commented on #58
not sure how to test this as i was never getting the issue in the first place. @Saf456 is this one you can try and replicate to see if it is fixed as you had the issue originally

[2017-07-13 08:05] andrewleponis opened #83 "Scrambled email address and locked out of GP -online"
Somehow, after testing the re-set Email address I have managed to make my email address not recognised by GP-online.

I got this warning:
![image](https://user-images.githubusercontent.com/29251985/28156298-0ca9d2ea-67aa-11e7-9a6a-0002e42c3c21.png)

Followed by this message when i try to retrieve my forgotten details:
![image](https://user-images.githubusercontent.com/29251985/28156364-57706a14-67

[2017-07-13 08:21] Saf456 commented on #58
tested on my laptop with IE and Chrome - no more bounce.

[2017-07-13 08:21] #58 closed

[2017-07-13 08:23] #61 closed

[2017-07-13 08:29] Seahermit commented on #83
That email address went straight in for me - it didn't get auto completed and include a space on the end perhaps?  I've been meaning to remove trailing whitespace just in case of this

[2017-07-13 09:59] andrewleponis opened #84 "Evergeen-Life referred to in text on Settings page"
![image](https://user-images.githubusercontent.com/29251985/28161145-508668d8-67ba-11e7-9e8a-291e95bdf145.png)

[2017-07-13 10:20] andrewleponis opened #85 "GP My Address details - Will accept unlimited Charaters etc"
All the text boxes accept unlimited text.
where a number should only be possible text character are accepted.  The warning is only displayed after the user clicks save.

![image](https://user-images.githubusercontent.com/29251985/28161897-341b8798-67bd-11e7-9540-75de3d880e87.png)

[2017-07-13 10:38] andrewleponis opened #86 "My GP - More information button not working in some instances"
1. Click on Settings|My GP
2. Click Edit (see Image)
![image](https://user-images.githubusercontent.com/29251985/28162255-579881ac-67be-11e7-947d-ffe1849f2fe4.png)

3. Click Cancel on My GP: Address details.

4 now try and view More information and this button no longer works
![image](https://user-images.githubusercontent.com/29251985/28162387-bda3e400-67be-11e7-86c1-2bd3b559ac9c.png)

[2017-07-13 10:42] andrewleponis opened #87 "Menu Bar enabled immediately after login despite terms of use asking for acceptance or cancalation"
Surely this should be disabled until the terms and conditions are confirmed?

![image](https://user-images.githubusercontent.com/29251985/28162821-59be62e2-67c0-11e7-8550-945152305770.png)

[2017-07-13 11:03] Saf456 commented on #54
tested by Andrew

[2017-07-13 11:03] #54 closed

[2017-07-13 12:08] Saf456 commented on #78
Happy its on screen on mobile now

[2017-07-13 12:11] #78 closed

[2017-07-13 12:29] Saf456 commented on #87
Thats ok - you should be able to book appointments and prescriptions just not access your record.
we have tested this

[2017-07-13 12:29] #87 closed

[2017-07-13 12:31] Saf456 commented on #86
@dogtanian28  tested and replicated in IE11

[2017-07-13 12:32] Saf456 commented on #85
Part of core EGL product - low issue for pilot

[2017-07-13 12:32] Saf456 commented on #85
closed with stewat

[2017-07-13 12:32] #85 closed

[2017-07-13 12:38] Saf456 commented on #82
happy looks correct on IE

[2017-07-13 12:38] #82 closed

[2017-07-13 12:53] andrewleponis opened #88 "Changing email address email sends Evergreen branded email"
Security code email (when changing password and email address) is Evergreen branded

[2017-07-13 13:14] andrewleponis opened #89 "Resend verification key email behaving as spam"
can someone else  resend their verification code and see where it appears in their email as my email is going straight to spam now.

The Previous Evergreen emails were not behaving as spam.

[2017-07-13 14:29] dogtanian28 commented on #83
sounds like a one off, so i think we will close

[2017-07-13 16:10] Saf456 commented on #88
is this the same as password re-set email?

[2017-07-13 16:15] Seahermit commented on #88
No - there are two different emails - Password Reset and then Email Verification.  Email Verification should be NHS branded, but it sounds like @andrewleponis isn't seeing this?

[2017-07-14 07:43] andrewleponis commented on #88
Hi Saf,  this is the message I am getting.  I will re-test today and check I am getting the same result.

![image](https://user-images.githubusercontent.com/29251985/28203161-6b182bbc-6870-11e7-9ce4-187a549fe7cc.png)

[2017-07-14 08:22] andrewleponis commented on #49
HI.  I've tested the new functionality.  You can now order a repeat prescription. However there is no limit to the number you can order.

![image](https://user-images.githubusercontent.com/29251985/28204437-dadb781e-6875-11e7-9449-a3939971c4e2.png)

[2017-07-14 08:37] andrewleponis commented on #88
I have re-test and I am now getting the NHS branded email

[2017-07-14 08:51] andrewleponis opened #90 "Evergreen Life referenced in [Change Email Address] page"
Evergreen Life is referred to in [Address] Section and [Delete Account] section

![image](https://user-images.githubusercontent.com/29251985/28205397-bf324832-6879-11e7-8119-a8e8b8e3ef4e.png)

[2017-07-14 09:00] andrewleponis opened #91 "Change security question page references Evergreen Life"
Please see [Address] and [Email Details] paragraphs

![image](https://user-images.githubusercontent.com/29251985/28205745-3a0d1a5e-687b-11e7-9b2b-e0aa82eca5d5.png)

[2017-07-14 09:13] andrewleponis opened #92 "[Changing Security Question] - First attempt"
When clicking and trying to remove your very first [Security Question] you get this logon message instead.
Once you have messed around a bit the message never re-appears.

![image](https://user-images.githubusercontent.com/29251985/28205924-09d9becc-687c-11e7-97f9-5a3a38e6a5a8.png)

[2017-07-14 09:28] andrewleponis commented on #92
Further to my notes above.  After logging out and back in, I am getting the above message every time I press the [Change Security Question] now and on every Click of [Remove] security Question and [Cancel]

[2017-07-14 09:54] andrewleponis opened #93 "[Change Security Question - remove] button doesn't always work"
1. Click :- [Change Security Question]
2. Add a new security question and click save
3. Click :- [Change Security Question]
4. Click:- [Remove] only once on for the security question you have just added.

Result: - Question is not removed (Click again and the Question is removed)

[2017-07-14 10:31] andrewleponis opened #94 "[Remove Security Question] is removing the wrong question"
When logging in and going directly to the Security questions page, and clicking remove on the last question, the first question is deleted.

1. Add a second and third Security Question
2. Log out of GP Online
3. Log back in and go directly to  [Change Security Question]
4. Remove the last Security Question.

Result:- the first security question removed.

[2017-07-17 09:54] Saf456 commented on #81
@Seahermit will you be changing the icon?

[2017-07-17 09:55] #83 closed

[2017-07-17 10:01] Saf456 opened #95 "Print/download button hover details"
While working on the page, I discovered that when you hovered on Print/Download under the My Medical Record page it brought up 'Print this view of your Medical Record' instead of 'Print/Download this view of your Medical Record'.
After clicking on Print/Download, it came up with 'Print my Summary' instead of 'Print/Download my Summary'.

[2017-07-17 12:19] Saf456 commented on #95
Low priority Ben, if its an easy change then please make changes, if not its ok to leave

[2017-07-17 12:26] Saf456 commented on #94
I have replicated this and yes the same happened to me. I set up 4 security questions, logged out and logged back in, I went back to delete a third security question and it deleted the wrong one.

[2017-07-17 12:27] Saf456 commented on #93
Yes replicated - low priority for the pilot

[2017-07-17 12:30] Saf456 commented on #92
cannot replicate in my account

[2017-07-17 12:32] Saf456 commented on #92
@Seahermit happy for you to close this if you cannot replicate as well. You may know whats causing it, leave it with you

[2017-07-17 12:33] dogtanian28 commented on #91
simple content change.

[2017-07-17 12:35] Saf456 commented on #89
cannot replicate - we are happy for this to be closed @Seahermit  please close when you are happy

[2017-07-17 12:39] Saf456 commented on #88
The email is a replica of the verification email and not the one above. This need fixing please.

[2017-07-17 12:41] #49 closed

[2017-07-17 13:18] Saf456 opened #96 "pop up message when you first log-in"
![image](https://user-images.githubusercontent.com/29437292/28269599-8df74276-6afa-11e7-9a37-8b78e734ea77.png)

Alter the word gadget to what was previously used

[2017-07-18 13:20] Saf456 opened #97 "Content for 'Ctrl S' download functionality"
[Print Download Page Ctrl S.pdf](https://github.com/AscentMS/NHSD/files/1155954/Print.Download.Page.Ctrl.S.pdf)

[2017-07-18 15:47] Saf456 opened #98 "HIGH: The download journey is not complete and needs to follow through"
If you are on a journey to download your medical record, you can click print/download but then there are no further options for download. this is confusing for someone who only wants to download their record.

![image](https://user-images.githubusercontent.com/29437292/28326482-cc3e1530-6bd8-11e7-9b89-3651bcb61642.png)

This is the same on all pages

[2017-07-19 18:12] #89 closed

[2017-07-19 22:14] Seahermit commented on #92
I've rebuild the security question changing section to avoid some issues with dynamic controls, so I think this should be fixed - although we've never managed to replicate anything like that in any of our testing!

I'm more confident in the security question updates now, so if this does happen again, I'd be interested to see it!

[2017-07-19 22:17] Seahermit commented on #94
This was a very good find - it's happening on our live version as well, so thank-you for finding it!  Was slightly complicated, and a byproduct is now the security questions are in alphabetical order, so a bit easier to find a particular question (although that might just because I know what all the questions are by heart now)

[2017-07-19 22:33] Seahermit commented on #81
Didn't have a clue what this was about until I fixed something else and realised - the mouse cursor?  If so, that's updated, and I've underlined the links to make them more obvious too.

[2017-07-19 22:37] Seahermit commented on #88
I've checked this, and email change sends an NHS branded email.  Password reset is a different issue, which I am still working on - that's in Issue #63

[2017-07-19 23:59] Seahermit commented on #98
I've made a fair bit of progress on this - I've added an extra link beside the Print page, which causes the browser to download a stripped down version of the record.  Depending on the browser, it will either drop it straight to downloads, or pop open the save dialogue, or pop up the invisible yellow bar at the bottom of the window.

And then a message pops up in the middle of the screen telling y

[2017-07-20 07:36] Seahermit opened #99 "Update Cookie policy"

[2017-07-20 09:42] Saf456 commented on #97
@dogtanian28  we don't need this now do we?

[2017-07-20 09:54] Saf456 commented on #98
Tested this, it does work well. @dogtanian28

[2017-07-20 09:55] Seahermit commented on #97
I don't think you do!

[2017-07-20 10:29] #81 closed

[2017-07-20 10:30] Saf456 commented on #95
Checked - happy

[2017-07-20 10:30] #95 closed

[2017-07-20 10:31] Saf456 commented on #84
checked - happy

[2017-07-20 10:31] #84 closed

[2017-07-20 10:33] Saf456 commented on #96
checked

[2017-07-20 10:33] #96 closed

[2017-07-20 10:34] #90 closed

[2017-07-21 07:37] dogtanian28 commented on #97
looks amazing thanks ben

[2017-07-21 07:38] dogtanian28 commented on #97
issue can be closed :-)

[2017-07-24 08:05] dogtanian28 commented on #97
Ben,

one of my colleagues noticed that images weren't downloading, is this just a browser thing?

[2017-07-24 09:33] Saf456 commented on #79
[Feedback Pool Content.docx](https://github.com/AscentMS/NHSD/files/1169373/Feedback.Pool.Content.docx)

[2017-07-24 12:52] #64 closed

[2017-07-31 12:44] Saf456 commented on #88
NHS branded email

[2017-07-31 12:44] #88 closed

[2017-07-31 12:45] Saf456 commented on #91
checked

[2017-07-31 12:45] #91 closed

[2017-07-31 12:47] Saf456 commented on #80
works ok - tested

[2017-07-31 12:47] #80 closed

[2017-07-31 12:59] Saf456 commented on #92
cannot replicate

[2017-07-31 12:59] #92 closed

[2017-07-31 13:00] Saf456 commented on #93
tested  - correct question removed

[2017-07-31 13:00] #93 closed

[2017-07-31 13:02] Saf456 commented on #94
tested - now works as should

[2017-07-31 13:02] #94 closed

[2017-07-31 13:03] Saf456 commented on #97
@dogtanian28  which image?

[2017-07-31 13:05] Saf456 commented on #98
@ballzy  could you check the styling.

[2017-07-31 13:13] Saf456 commented on #98
@Seahermit  download doesn't look like the small download image above. Assume you will be changing?

[2017-07-31 13:16] Seahermit commented on #98
The icon you click?  Yes, that will be changing in the next update (probably tonight or tomorrow morning)

[2017-08-01 22:00] Seahermit commented on #98
Icon updates, page styling moved inline to download with the file, NHS logo moved to data url to be self-contained within the downloaded file

[2017-08-02 08:17] dogtanian28 commented on #98
have reviewed bens changes. looks great now, so i think this issue can be closed.

[2017-08-02 08:20] dogtanian28 commented on #79
reviewed the page and can confirm changes have been made. therefore i feel issue can be closed

[2017-08-02 08:34] Saf456 commented on #98
excellent looks good!!

[2017-08-02 08:34] #98 closed

[2017-08-02 08:35] Saf456 commented on #97
Was this the NHS logo on the download? If so it is resolved

[2017-08-02 08:35] #79 closed

[2017-08-03 19:49] #97 closed

[2017-08-03 20:47] Seahermit commented on #86
Wow.  That is a very specific find!  I shall point out to our testing team that they missed this one (it's the same on our current live site).

Fixed now though!

Good find

[2017-08-07 08:58] #42 closed

[2017-08-08 10:07] Saf456 commented on #86
tested works fine

[2017-08-08 10:07] #86 closed

[2017-08-08 10:21] Saf456 commented on #63
From	Subject	Received	Size	Categories
no-reply-test@evergreen-life.co.uk	Your GP Online Services Temporary Password	11:09	21 KB

[2017-08-08 10:22] Saf456 commented on #63
Hello,
You've asked us to reset your password for your GP Online Services account.
Here is your temporary password 2304, this will be valid for the next 24 hours.
If you would like to contact us, please contact us at: https://gpo.service.nhs.uk/Contact
Thank you,
The GP Online Services Team

[2017-08-08 10:22] Saf456 commented on #63
works!

[2017-08-08 10:23] #63 closed

[2017-08-09 08:20] Saf456 opened #100 "Change text 'UTC' to 'GMT'"
Can the text UTC be changed to GMT on the history page

[2017-08-09 12:24] Saf456 commented on #100
Still showing UTC? @Seahermit

[2017-08-09 12:36] Saf456 opened #101 "Password criteria not met at password reset"
Sorry Ben i cant get on to slack at all today so apologies if you are already on this.

When a user resets their password and tries to set a new password they are allowed to create one without numbers or characters.

[2017-08-10 10:07] Saf456 commented on #100
Live site updated
![image](https://user-images.githubusercontent.com/29437292/29165852-1e84ec34-7dbc-11e7-8567-3caa375e5136.png)

[2017-08-10 10:07] #100 closed

[2017-08-10 10:21] Saf456 commented on #101
Still an issue in Live service - Also allows this as a new user

[2017-08-14 13:46] #99 closed

[2017-08-17 14:49] Saf456 opened #102 "Changes to home page"
[Alt version of GPOS screen.docx](https://github.com/AscentMS/NHSD/files/1231624/Alt.version.of.GPOS.screen.docx)

Ben changes attached in M.word, you will need to change the formatting to match whats already there. Key is making sure the bold text visible and stands out.

Can you do this in the test version first so the team can check.
thank you

[2017-08-17 16:58] Seahermit commented on #102
Looks like this now...

<img width="574" alt="screen shot 2017-08-17 at 17 56 26" src="https://user-images.githubusercontent.com/10967025/29423949-9730036c-8375-11e7-9f5a-9a5c6ac7826f.png">

I don't like the CLICK HERE bit - I thought we'd stopped doing that these days due to lack of context?  But if that's what you want, that's what you'll get!

[2017-08-23 14:38] #102 closed